.map
  .states, .land
    fill: none;
    stroke: black;
    stroke-linejoin: round;

  .counties
    fill: white;
    stroke-width: 0.2;
    stroke: black;

  .graticule
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;

  .state-boundary
    fill: none;
    stroke: black;
    pointer-events: none;



