html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $body-font;
    color: $dark-grey;

    font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin-top:0;
  margin-bottom:0;
  font-family: $header-font;
}

h2 {
  font-weight: 300;
}

h3 {
  font-variant: small-caps;
  font-size: 18px;
}

h4 {
  font-variant: small-caps;
  color: $grey;
}

body {
  padding:20px;
}

